#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.campus_mainDiv{
    border: 1px solid blue;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.campus_mainDiv img{
    width: 100%;
}
.campus_mainDiv hr{
    width: 230px;
}
.campus_mainDiv h5, .campus_mainDiv p{
    margin-left: 20px;
}
.achivement_head{
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.achivement_head i{
    float: right;
}